[Desktop Entry]
Name=Goose
Exec=/usr/lib/goose/Goose %U
Icon=/usr/share/pixmaps/goose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;